body {
    background: #f2f2f2;
    font-family: Arial;
}

.box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

.box h2 {
    text-align: center;
}

.box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.box button {
    width: 100%;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.box a {
    text-decoration: none;
    color: blue;
}