body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: Arial;
}

.welcome-box {
    width: 400px;
    margin: 150px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px gray;
}

.welcome-box h1 {
    color: green;
}